@import "./bootstrap";

$feedback-container-height: 2.3rem;

body {
  background-color: pink;
}

.gym {
  &-container {
    @extend .container;
  }
  &-welcome {
    &-container {
      border: 1px solid red;
      height: calc(100vh - 56px);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    > header {
      margin-bottom: map-get($spacers, 3);
    }
    &-title {
      @extend .display-1;
      @extend .text-break;
    }
    &-subtitle {
      @extend .text-muted;
      @extend .lead
    }
    &-clock {
      .gym-clock-date {
        @extend .lead
      }
    }
    &-button {
      @extend .btn;
      @extend .btn-lg;
      @extend .btn-primary;
      margin-bottom: map-get($spacers, 4);
    }
  }
  &-content {
    @extend .row;
    @extend .justify-content-md-center;

    &-customers {
      @extend .col-6;
    }
    &-in-out {
      @extend .col-6;
    }
  }

  // Filter: sorting
  &-sort {
    &.desc,
    &.asc {
      @extend .active;
    }
    &.desc:after,
    &.asc:after {
      padding-left: 0.3rem;

    }
    &.desc:after {
      content: '↓';
    }
    &.asc:after {
      content: '↑';
    }
  }
}



.gym-customers {

  .alert {
    margin-bottom: 0;
    border-radius: 0;
  }

  .list-group-item {
    padding: 0.50rem 0.50rem;
  }

  .gym-customer {

    .gym-customer-info {
      @extend .row;
    }


    .gym-customer-times {
      @extend .col-sm-4;
      @extend .col-md-4;
      @extend .col-lg-4;

      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
    .gym-customer-profile {
      @extend .col-sm-8;
      @extend .col-md-8;
      @extend .col-lg-8;

      //.gym-customer-profile {
      //  float: right;
      //}
    }

    .gym-customer-name {
      margin-bottom: 0;
    }
  }
}

.gym-search-radio-form {
  .form-group {
    margin-bottom: 0;
  }
}

.gym-feedback-container {
  min-height: $feedback-container-height;
  line-height: 2rem;

  .gym-feedback {
    margin-top: 0;
    display: none;

    &.invalid-feedback {
      display: block;
    }
  }
}

.gym-customer-form {
  //@extend .needs-validation;

  .gym-customer-name,
  .gym-customer-category {
    @extend .form-control;
    @extend .form-control-lg;
  }
  .gym-button-save {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-success;
    @extend .btn-lg;
  }
  .gym-form-row {
    @extend .form-row;

    margin-right: 0;
    margin-left: 0;
  }
  .gym-form-group {
    @extend .form-group;
    margin-bottom: 0;

    &.gym-form-group-name {
      @extend .col-8;
      padding-left: 5px;
      padding-right: 5px;
    }
    &.gym-form-group-category {
      @extend .col-4;
      padding-left: 5px;
      padding-right: 5px;
    }
    label {
      @extend .sr-only;
    }
  }
  &.gym-customer-form-edit {
    .gym-form-group {
      &.gym-form-group-name {
        @extend .col-6;
        padding-left: 0;
        padding-right: 5px;
      }
      &.gym-form-group-category {
        @extend .col-4;
        padding-left: 0;
        padding-right: 5px;
      }
      &.gym-form-group-save {
        @extend .col-2;
        padding-left: 0;
        padding-right: 0;
      }
      .gym-customer-name,
      .gym-customer-category {
        @extend .form-control-sm;
      }
      .gym-button-save {
        @extend .btn-sm;
        .gym-action:before {
          content: '✓';
        }
        .gym-action-name {
          @extend .sr-only;
        }
      }
    }

    .gym-feedback-container {
      min-height: 0;

      &.gym-feedback-container-active {
        min-height: $feedback-container-height;
      }
    }
  }

}

.gym-customer-status,
.gym-customer-times {
  width: 4rem;
}

.gym-customer-times {
  .gym-customer-duration {
    @extend .small;
    @extend .text-muted;
    @extend .d-block;
  }
}

.gym-customer-status {
  @extend .small;
  @extend .text-muted;

  &:before {
    padding-right: 0.3rem;
  }
  &-active {
    &:before {
      content: "‣";
    }
  }
  &-out {
    &:before {
      content: "✓";
    }
  }
  &-deleted {
    &:before {
      content: "×";
    }
  }
}

.gym-customer-selectable {
  .gym-customer-edit {
    .gym-action {
      &:before {
        content: '✎';
        margin-left: map-get($spacers, 1);
      }
    }
    .gym-action-label {
      @extend .small;
      padding-left: map-get($spacers, 1);
    }
  }
  .gym-customer-category {
    display: block;

    @extend code;
    @extend small;

    .gym-customer-category-name {
      margin-left: 2.25rem;

      &:before {
        content: '@';
        margin-right: 0.1rem;
      }
    }
  }
}

