@import "./bootstrap";

body {
  background-color: pink;
}

.gym-customers {

  .alert {
    margin-bottom: 0;
    border-radius: 0;
  }

  .list-group-item {
    padding: 0.50rem 1.00rem;
    line-height: 1.90rem;
  }

  .gym-customer {


    .gym-customer-name {
      margin-bottom: 0;
      //line-height: 2.40rem;
    }
    time {
      line-height: 2.40rem;
    }

    .gym-customer-initials {
      border-radius: 50%;
      font-size: 1.4rem;
      width: 3.0rem;
      height: 3.0rem;
      line-height: 3.0rem;
      text-align: center;
      background-color: lightgrey;
    }

    &:hover {
      .gym-customer-initials {
        background-color: $secondary;
        color: $white;

        .gym-customer-initials-value {
          display: none;
        }
        &:after {
          content: '✓';
          color: white;
        }
      }
    }

    &.gym-customer-selected {
      .gym-customer-initials {
        background-color: $secondary;
        color: $white;

        &:after {
          content: '✓';
          color: white;
        }
      }
      &:hover {
        .gym-customer-initials {
          background-color: $warning;
          color: $white;

          &:after {
            content: '×';
            color: $gray-700;
          }
        }
      }
      .gym-customer-initials-value {
        display: none;
      }
    }
  }
}

.gym-search-radio-form {
  .form-group {
    margin-bottom: 0;
  }
}