@import "./bootstrap";

body {
  background-color: pink;
}

.gym-welcome {

  &-container {
    border: 1px solid red;
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  > header {
    margin-bottom: map-get($spacers, 3);
  }
  &-title {
    @extend .display-1;
    @extend .text-break;
  }
  &-subtitle {
    @extend .text-muted;
    @extend .lead
  }

  &-clock {
    .gym-clock-date {
      @extend .lead
    }
  }

  &-button {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
    margin-bottom: map-get($spacers, 4);
  }
}

.gym-customers {

  .alert {
    margin-bottom: 0;
    border-radius: 0;
  }

  .list-group-item {
    padding: 0.50rem 0.50rem;
  }

  .gym-customer {

    .gym-customer-info {
      @extend .row;
    }


    .gym-customer-times {
      @extend .col-sm-4;
      @extend .col-md-4;
      @extend .col-lg-4;

      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
    .gym-customer-profile {
      @extend .col-sm-8;
      @extend .col-md-8;
      @extend .col-lg-8;

      .gym-customer-profile {
        float: right;
      }
    }

    .gym-customer-name {
      margin-bottom: 0;
    }
  }
}

.gym-search-radio-form {
  .form-group {
    margin-bottom: 0;
  }
}

.gym-feedback-container {
  min-height: 2.3rem;
  line-height: 2rem;

  .gym-feedback {
    margin-top: 0;
    display: none;

    &.invalid-feedback {
      display: block;
    }
  }
}

.gym-input-group {
  @extend .input-group;
  @extend .input-group-lg;

  select {
    border-radius: 0;
  }
}

.gym-customer-status,
.gym-customer-times {
  width: 4rem;
}

.gym-customer-status {
  @extend .small;
  @extend .text-muted;

  &:before {
    padding-right: 0.3rem;
  }
  &-active {
    &:before {
      content: "‣";
    }
  }
  &-out {
    &:before {
      content: "✓";
    }
  }
  &-deleted {
    &:before {
      content: "×";
    }
  }
}

.gym-customer-category {
  display: block;

  @extend code;
  @extend small;

  .gym-customer-category-name {
    margin-left: 2.25rem;

    &:before {
      content: '@';
      margin-right: 0.1rem;
    }
  }
}

.gym-sort {
  &.desc,
  &.asc {
    @extend .active;
  }
  &.desc:after,
  &.asc:after {
    padding-left: 0.3rem;

  }
  &.desc:after {
    content: '↓';
  }
  &.asc:after {
    content: '↑';
  }
}
